/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

#header_tw_count {
    width: 5rem;
}

.tw_box {
    position: relative;
    display: inline-block;
}

.tw_posted {
    background-image: url("/images/write.svg");
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: -54px;
    opacity: 0.68;
}

.tw_liked {
    background-image: url("/images/like.svg");
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: -54px;
    opacity: 0.68;
}